.categorySpan {
    display: inline-flex;
    align-items: center;
  }
  
  .categorySpan::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #1b1c1d;
    border-radius: 50%;
    background: #f7f7f7;
    margin-right: 9px;
  }